## Basic Python

In [1]:
print("Hello World")

Hello World

## Data Types

In [2]:
x=10
type(x)

int

In [3]:
x=10.5
type(x)

float

In [4]:
x=10/5
type(x)

float

In [5]:
x=10*5
type(x)

int

In [6]:
x="Hello"
type(x)

str

In [9]:
x=1-2j
type(x)

complex

In [7]:
x=True
type(x)

bool

## shortcut keys

In [8]:
##### shift+Enter  ->Run
##### Enter a cell above ->a
##### Enter a cell below ->b
#####  Delete a cell -> x   or press d twice
##### Headings -> M

## Lists

In [14]:
x=["apple","bananas",4,1+2j,True]#example of list
type(x)
x

['apple', 'bananas', 4, (1+2j), True]

In [ ]:
# Properties Of list
# 1.Allows heterogenous items
# 2.Index Starts From 0
# 3.Mutable using index
#4. []

In [16]:
x[1:3] #slicing the data using array[x,y], so elements printed will be {array[x],...array[y-1]}

['bananas', 4]

In [17]:
x[2:] #if y is not specified then it goes till the last element

[4, (1+2j), True]

In [18]:
x[:3]

['apple', 'bananas', 4]

In [19]:
x[-2]# The 0th index starts from right and last element is the leftmost element

(1+2j)

In [22]:
del(x[2]) #deleting an element in the list
x

['apple', 'bananas', (1+2j)]

In [24]:
x.append(4) #appending in the list
x
#similar properties of list
#1.appennd
#2.pop(deleting the last element)
#3.count(counts the no. of occurance of an element)
#4.2 arrays can be added its called concatenation
#5.sort(the list is sorted)
#6.reverse(the list is reversed)
#7index(to find the index of a element)
#8insert (to insert at a particular poition)example:array.insert(1,"abc").

['apple', 'bananas', (1+2j), 4]

In [26]:
len(x)#to give length of the list

4

## Tupples

In [27]:
x=("apple","bananas",4,1+2j,True)#example of list
type(x)
x

('apple', 'bananas', 4, (1+2j), True)

In [28]:
# Properties Of Tupple
# 1.Allows heterogenous items
# 2.Index Starts From 0
# 3.Immutable 
#4. ()

In [38]:
#similar properties of Tupple
#3.count(counts the no. of occurance of an element)
#4.2 arrays can be added its called concatenation
#7index(to find the index of a element)

## Sets

In [40]:
x={"apple","bananas",4,1+2j,True}
x

{(1+2j), 4, True, 'apple', 'bananas'}

In [41]:
# Properties Of sets
# 1.Allows heterogenous items
# 2.No Index, elements cant be accesed with index
# 3.mutable 
#4. {}

In [42]:
#similar properties of set
#1.appennd
#2.pop(deleting the last element)
#3.count(counts the no. of occurance of an element)
#4.2 arrays can be added its called concatenation
#5.sort(the list is sorted)
#6.reverse(the list is reversed)
#8insert (to insert at a particular poition)example:array.insert(1,"abc").

## Dictionary is similar to object in Javascript

  ##                                      ** End of Data Structures in Python **

## Python essential syntax

In [ ]:
a=int(input()) #to take the input in int data type, if no data type is mentioned its string

In [ ]:
if(a>10 & a==20)#if else statement syntax (conditionals)
{
    print("good")
}
else
{
    print("bad")
}

In [ ]:
for i in n:#for loop
    print(i)

In [ ]:
while(a>10):#while loop
    {
        print(a)
        a++
    }

In [ ]:
def printer(message):
    print(message)